[Unit]
Description=Avaliador Prompt API Service
After=network.target

[Service]
User=yourhostingusername
Group=yourhostingusername
WorkingDirectory=/home/yourhostingusername/avaliadorprompt.com.br/backend
ExecStart=/home/yourhostingusername/avaliadorprompt.com.br/venv/bin/gunicorn -c gunicorn_conf.py main:app
Restart=always
RestartSec=5
Environment="PATH=/home/yourhostingusername/avaliadorprompt.com.br/venv/bin"
# Make sure to replace this with actual path to your .env.production file
EnvironmentFile=/home/yourhostingusername/avaliadorprompt.com.br/backend/.env.production

[Install]
WantedBy=multi-user.target
